<div class="flex flex-col flex-auto w-full" style="background-color: #7c66f7">
    <div
        class="flex-col flex-auto bg-card relative p-5 md:p-10"
        style="
            border-top-left-radius: 3rem !important;
            border-bottom-left-radius: 3rem !important;
        "
    >
        <div class="p-5 md:p-0">
            <!-- Navigation toggle button -->
            <button
                class="absolute md:hidden top-8 left-8"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
            <div class="ml-10 -mt-1.5 md:ml-0 md:mt-0 text-3xl font-bold">
                Saldo
            </div>
            <div class="flex flex-col my-4 w-full md:w-3/4">
                <!-- Current balance -->
                <div class="min-h-40">
                    <div class="flex items-center mb-4">
                        <span class="text-lg font-bold">Tu saldo actual</span>
                    </div>
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 border-2 rounded-lg p-2.5 sm:p-5"
                    >
                        <div
                            class="flex justify-center items-center px-3 py-1 border-2 shadow-sm rounded-lg w-full sm:min-w-24 sm:max-w-60"
                        >
                            <span class="text-[#7c66f7] font-bold text-xl"
                                >S/ {{ balance$ | async | number: "" }}</span
                            >
                        </div>
                        <div class="my-2 sm:mx-2">
                            <span class="block font-semibold"
                                >Última fecha de tu recarga:</span
                            >
                            <span>30 de abril de 2020</span>
                        </div>
                    </div>
                </div>
                <!-- Increase balance info -->
                <div class="min-h-40">
                    <span class="text-lg font-bold"
                        >Información de recargas</span
                    >
                    <div
                        class="text-base border-2 rounded-lg min-h-40 mt-4 p-2.5 sm:p-5"
                    >
                        <div class="font-semibold uppercase tracking-wide">
                            ¿Qué necesito para recargar mi saldo?
                            <div
                                class="w-1/6 border-[#7c66f7] border-b-2 my-1"
                            ></div>
                        </div>
                        <div class="mt-2 mb-4">
                            Tienes que depositar el monto que necesites a una de
                            nuestra cuentas bancarias
                        </div>
                        <div class="font-semibold">
                            Nuestras cuentas bancarias
                        </div>
                        <div>
                            Puede realizar el depósito en la cuenta que elijas:
                        </div>
                        <div
                            class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 gap-2 lg:gap-1 mt-5 w-full"
                        >
                            <button
                                *ngFor="let bank of banks$ | async"
                                (click)="
                                    openGuide(bank.vc_url_flyer_web_megapunto)
                                "
                                class="px-8 py-1 text-white rounded font-semibold w-28 mr-2"
                                [style]="{
                                    'background-color': bank.vc_hex_color
                                }"
                            >
                                {{ bank.vc_desc_corta_banco }}
                            </button>

                            <!-- <button
                                (click)="openGuide('BBVA')"
                                class="bg-blue-500 px-8 py-1 text-white rounded font-semibold w-28 ml-5"
                            >
                                BBVA
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
