<div class="flex flex-col flex-auto w-full" style="background-color: #7c66f7">
    <div
        class="flex-col flex-auto bg-card relative"
        style="
            border-top-left-radius: 3rem !important;
            border-bottom-left-radius: 3rem !important;
        "
    >
        <!-- Navigation toggle button -->
            <button
                class="absolute md:hidden top-8 left-8"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
    </div>
</div>

