<div class="w-full flex flex-col justify-between">
    <div>
        <h1 class="text-2xl font-bold">Monto a recargar</h1>
        <mat-form-field class="mt-4 w-full">
            <span matPrefix>S/ &nbsp;</span>
            <input
                NumberOnly
                class="w-full"
                autocomplete="off"
                matInput
                [disabled]="disable"
                type="text"
                [maxLength]="3"
                [(ngModel)]="nu_precio"
            />
        </mat-form-field>
        <span class="mx-0.5 text-red-500" *ngIf="invalidAmount">
            Importe mínimo de recarga S/
            {{ data.value.product.nu_imp_minimo }} y máximo S/
            {{ data.value.product.nu_imp_maximo }}
        </span>
        <hr class="m-0" />
        <h2 class="text-xl font-bold mt-3">Persona Titular</h2>
        <div class="w-2/6 sm:w-1/6 border-[#7c66f7] border-b-2 my-1"></div>
        <div class="flex flex-col my-2">
            <span class="font-bold text-lg">Celular</span>
            <span class="text-lg">
                {{ data.value.vc_numero_servicio }}
            </span>
        </div>
        <div class="flex flex-col mt-2">
            <span class="font-bold text-lg">Operador</span>
            <span class="text-lg">
                {{ data.value.product.vc_desc_producto }}
            </span>
        </div>
    </div>
    <div class="flex justify-center mt-3">
        <button
            [disabled]="disable"
            mat-raised-button
            color="warn"
            class="mr-2"
            (click)="close()"
        >
            Cancelar
        </button>
        <button
            (click)="topUpCellphoneBalance()"
            mat-raised-button
            [disabled]="disable || invalidAmount"
            color="primary"
        >
            Recargar
        </button>
    </div>
</div>
