<div class="bg-card flex items-center justify-center sm:bg-primary p-0 sm:py-18 sm:px-9 md:px-36 md:py-20 flex-auto w-full">
    <div class="rounded-2xl bg-card items-center md:items-start sm:justify-center md:justify-start p-4 md:p-14 lg:p-20 w-2/3">
        <div class="grid grid-cols-1 w-full sm:w-auto">
            <div class="block">
                <!-- Logo -->
                <div class="flex items-center justify-between">
                    <a class="flex items-center text-primary cursor-pointer" (click)="signIn()">
                        <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
                        Ir a inicio de sesión
                    </a>
                    <div class="flex items-center">
                        <img class="w-12" src="assets/images/logo/mipmap-xhdpi/ic_launcher.png">
                        <span class="ml-1.5 hidden sm:inline-block font-bold text-xl tracking-wide">megapunto</span>
                    </div>
                </div>
            </div>

            <div class="md:w-3/4 w-full mx-auto md:items-center justify-center">
                <form [formGroup]="signUpForm" class="w-full">
                    <app-personal-information *ngIf="signUpForm.get('step').value === 1"></app-personal-information>
                    <app-business-data *ngIf="signUpForm.get('step').value === 2"></app-business-data>
                    <app-business-address *ngIf="signUpForm.get('step').value === 3"></app-business-address>
                </form>
            </div>
        </div>
    </div>
</div>
