<div class="bg-card flex items-center justify-center sm:bg-primary p-0 sm:py-18 sm:px-9 md:px-36 md:py-20 flex-auto w-full">
    <div class="rounded-2xl bg-card items-center md:items-start sm:justify-center md:justify-start p-4 md:p-14 lg:p-20 w-2/3">
        <div class="grid grid-cols-1 w-full sm:w-auto">
            <div class="block">
                <!-- Logo -->
                <div class="flex items-center justify-between">
                    <a class="flex items-center text-primary cursor-pointer">
                        <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
                        Ir a inicio de sesión
                    </a>
                    <div class="flex items-center">
                        <img class="w-12" src="assets/images/logo/mipmap-xhdpi/ic_launcher.png">
                        <span class="ml-1.5 hidden sm:inline-block font-bold text-xl tracking-wide">megapunto</span>
                    </div>
                </div>
            </div>

            <div class="max-w-100 sm:w-60 md:w-90 mx-auto md:items-center justify-center">
                <!-- Title -->
                <div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">Datos para afiliarme</div>
    
                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
    
                <!-- Sign in form -->
                <form
                    class="mt-8"
                    [formGroup]="signUpForm"
                    #signInNgForm="ngForm">

                    <!-- Name field -->
                    <mat-form-field class="w-full">
                        <input
                            id="name"
                            matInput
                            placeholder="Nombre"
                            [formControlName]="'name'">
                        <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                            Ingrese su nombre
                        </mat-error>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <input
                            id="email"
                            matInput
                            placeholder="Correo electrónico"
                            [formControlName]="'email'">
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Ingrese su correo electrónico
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                            Ingrese un correo electrónico válido
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <input
                            id="password"
                            matInput
                            type="password"
                            placeholder="Contraseña"
                            [formControlName]="'password'"
                            #passwordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            Ingrese su contraseña
                        </mat-error>
                    </mat-form-field>

                    <!-- Cellphone field -->
                    <mat-form-field class="w-full">
                        <input
                            id="cellphone"
                            matInput
                            placeholder="Número de celular"
                            [formControlName]="'cellphone'">
                        <mat-error *ngIf="signUpForm.get('cellphone').hasError('required')">
                            Ingrese número de celular
                        </mat-error>
                    </mat-form-field>

                    <!-- Telephone field -->
                    <mat-form-field class="w-full">
                        <input
                            id="telephone"
                            matInput
                            placeholder="Teléfono fijo"
                            [formControlName]="'telephone'">
                    </mat-form-field>

                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <!-- Document type field -->
                        <mat-form-field class="md:mr-1">
                            <input
                                id="documentType"
                                matInput
                                placeholder="Documento"
                                [formControlName]="'documentType'">
                            <mat-error *ngIf="signUpForm.get('documentType').hasError('required')">
                                Seleccione el tipo de documento
                            </mat-error>
                        </mat-form-field>
    
                        <!-- Document number field -->
                        <mat-form-field class="md:ml-2">
                            <input
                                id="documentNumber"
                                matInput
                                placeholder="Nro de documento"
                                [formControlName]="'documentNumber'">
                            <mat-error *ngIf="signUpForm.get('documentNumber').hasError('required')">
                                Ingrese el número de documento
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Birth date field -->
                    <mat-form-field class="w-full">
                        <input
                            id="birthDate"
                            matInput
                            placeholder="Fecha de nacimiento"
                            [formControlName]="'birthDate'">
                        <mat-error *ngIf="signUpForm.get('birthDate').hasError('required')">
                            Seleccione su fecha de nacimiento
                        </mat-error>
                    </mat-form-field>

                    <!-- Business line field -->
                    <mat-form-field class="w-full">
                        <input
                            id="businessLine"
                            matInput
                            placeholder="Giro de tu negocio"
                            [formControlName]="'businessLine'">
                        <mat-error *ngIf="signUpForm.get('businessLine').hasError('required')">
                            Seleccione el giro de su negocio
                        </mat-error>
                    </mat-form-field>

                    <!-- Bill type field -->
                    <mat-form-field class="w-full">
                        <input
                            id="billType"
                            matInput
                            placeholder="Tipo de comprobante"
                            [formControlName]="'billType'">
                        <mat-error *ngIf="signUpForm.get('billType').hasError('required')">
                            Ingrese el tipo de comprobante
                        </mat-error>
                    </mat-form-field>
    
                    <!-- Actions -->
                    <!-- <div class="inline-flex items-end justify-center w-full mt-1.5">
                        <a
                            class="text-md font-medium text-primary-500 underline text-primary"
                            [routerLink]="['/forgot-password']">Olvidé mi contraseña
                        </a>
                    </div> -->
    
                    <!-- Submit button -->
                    <div class="flex justify-end">
                        <button
                            class="fuse-mat-button-large w-1/2 mt-6"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="signUpForm.disabled"
                            (click)="signUp()">
                            <span *ngIf="!signUpForm.disabled">
                                Siguiente
                            </span>
                            <mat-progress-spinner
                                *ngIf="signUpForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
    
                    <!-- <div class="flex items-center justify-center mt-4 font-medium">
                        <div>¿Aún no tienes una cuenta?</div>
                        <a
                            class="ml-1 text-primary hover:underline"
                            [routerLink]="['/sign-up']">Afíliate aquí
                        </a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
