<div class="flex flex-col flex-auto w-full" style="background-color: #7c66f7">
    <div
        class="flex-col flex-auto bg-card relative p-5 md:p-10"
        style="
            border-top-left-radius: 3rem !important;
            border-bottom-left-radius: 3rem !important;
        "
    >
        <div class="p-5 md:p-0">
            <!-- Navigation toggle button -->
            <button
                class="absolute md:hidden top-8 left-8"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
            <div class="ml-10 -mt-1.5 md:ml-0 md:mt-0 text-3xl font-bold">
                Historial
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 my-4">
                <!-- Current balance -->
                <div class="min-h-40">
                    <div class="mb-4 flex justify-between">
                        <button
                            mat-raised-button
                            color="primary"
                            class="w-28 ml-2 sm:ml-4 md:w-60 md:mx-1 text-sm md:text-base"
                            (click)="changeDates(7)"
                        >
                            Última semana
                        </button>
                        <button
                            mat-raised-button
                            color="primary"
                            class="w-28 ml-2 sm:ml-4 md:w-60 md:mx-1 text-sm md:text-base"
                            (click)="changeDates(3)"
                        >
                            Últimos 3 días
                        </button>
                        <button
                            mat-raised-button
                            color="primary"
                            class="w-28 ml-2 md:w-60 md:mx-1 text-sm md:text-base"
                            (click)="changeDates(0)"
                        >
                            Hoy
                        </button>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-lg font-bold mr-1"
                            >Operaciones de mis clientes</span
                        >
                        <div
                            class="flex items-center border-2 border-[#7c66f7] p-1 w-full sm:w-80 md:w-full lg:w-80"
                        >
                            <mat-form-field class="custom w-full">
                                <mat-date-range-input
                                    [formGroup]="range"
                                    [rangePicker]="picker"
                                    [dateFilter]="myFilter"
                                    [max]="maxDate"
                                >
                                    <input
                                        matStartDate
                                        (dateChange)="
                                            selectFirstDate($event.value)
                                        "
                                        formControlName="trxStartDate"
                                        placeholder="Fecha Inicio"
                                    />
                                    <input
                                        matEndDate
                                        (dateChange)="selectEndDate()"
                                        formControlName="trxEndDate"
                                        placeholder="Fecha Final"
                                    />
                                </mat-date-range-input>
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker"
                                ></mat-datepicker-toggle>
                                <mat-date-range-picker
                                    maxRange="7"
                                    #picker
                                ></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mb-4 flex justify-around items-center">
                        <button
                            mat-raised-button
                            color="primary"
                            class="mt-2 w-full sm:w-60 sm:ml-4 md:w-60 md:ml-0"
                            (click)="changeDates(0)"
                        >
                            Reiniciar Fechas
                        </button>
                        <button
                            mat-raised-button
                            matTooltip="Exportar a Microsoft Excel"
                            (click)="downloadExcel()"
                            class="flex justify-center items-center mt-2 text-white bg-green-600 dark:bg-green-800 rounded-full cursor-pointer"
                        >
                            <mat-icon
                                class="text-white"
                                svgIcon="heroicons_outline:document-download"
                            ></mat-icon>
                        </button>
                    </div>
                    <div class="border-2 rounded-lg p-2.5 sm:p-5">
                        <div *ngIf="transactions | async as transf">
                            <div
                                *ngFor="let transaction of transf"
                                class="my-4"
                            >
                                <div *ngIf="transf.length > 0" class="mb-4">
                                    <div class="flex justify-between mb-1">
                                        <div class="flex flex-col">
                                            <span
                                                class="font-semibold text-[#7c66f7]"
                                            >
                                                N° Operación:
                                                {{ transaction.nu_id_trx_app }}
                                            </span>
                                            <span>
                                                {{
                                                    transaction.vc_desc_grupo_producto
                                                }}
                                            </span>
                                        </div>

                                        <div class="text-sm">
                                            <span>{{
                                                transaction.dt_fecha
                                            }}</span>
                                        </div>
                                    </div>
                                    <div class="flex justify-between mb-4">
                                        <div>
                                            <span class="mr-1">Comisión:</span>
                                            <span class="font-semibold">
                                                S/
                                                {{
                                                    transaction.nu_valor_comision
                                                        | number: ".2-2"
                                                }}
                                            </span>
                                        </div>
                                        <span class="font-semibold text-xl">
                                            S/
                                            {{
                                                transaction.nu_precio
                                                    | number: ".2-2"
                                            }}
                                        </span>
                                        <button
                                            (click)="
                                                printInvoice(
                                                    transaction.nu_id_trx_app
                                                )
                                            "
                                            class="ml-2"
                                        >
                                            <mat-icon
                                                svgIcon="heroicons_outline:printer"
                                            ></mat-icon>
                                        </button>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                            <div
                                *ngIf="transf.length < 1"
                                class="flex justify-center"
                            >
                                <span class="font-semibold text-lg">
                                    No se encontraron registros para la fecha
                                    indicada
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
