<div class="flex flex-col flex-auto min-w-0 h-full">
    <!-- Header -->
    <div
        class="flex flex-col items-center sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- logo -->
            <img
                class="md:ml-20"
                style="height: 42px; width: 44px"
                src="../../../../assets/images/logo/mediopago_logo.png"
                alt="mediopago_logo"
            />
        </div>
        <div
            class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 px-6 sm:border-r sm:border-gray-400"
        >
            <a class="font-semibold text-lg cursor-pointer text-regular-color">
                Sobre Nosotros
            </a>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 mr-5">
            <a class="font-semibold text-lg cursor-pointer text-regular-color">
                Iniciar Sesión
            </a>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <a
                mat-flat-button
                rel="noreferrer"
                [color]="'primary'"
                class="px-10"
            >
                Regístrate
            </a>
        </div>
    </div>

    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden h-2/4">
        <!-- Background Image -->
        <img
            class="bg-blend-color opacity-50 object-cover object-top h-full absolute inset-0 pointer-events-none"
            src="../../../../assets/images/bg/landing-image.jpg"
            alt="landing-image"
        />

        <!-- @formatter:on -->
        <div
            class="z-10 relative ml-8 md:ml-20 flex flex-col items-start justify-center w-80 h-full"
        >
            <div>
                <span class="font-bold text-2xl md:text-3xl text-secondary"
                    >Repotencia tu negocio con</span
                >
                <span
                    class="text-3xl sm:text-5xl font-extrabold text-bold-color"
                >
                    megapunto
                </span>
            </div>
            <a
                mat-flat-button
                rel="noreferrer"
                [color]="'primary'"
                class="px-12 mt-5"
            >
                Iniciar Sesión
            </a>
        </div>
    </div>
    <!-- main -->
    <div class="flex justify-center w-full p-6 sm:p-10">
        <div class="flex flex-col md:grid md:grid-cols-3 md:content-center md:gap-x-3">
            <div
                style="
                    max-width: 360px;
                    height: 260px;
                    box-shadow: 0px 3px 15px #c8c8e34d;
                "
                class="bg-card rounded-lg -skew-y-3"
            >
                <div
                    class="skew-y-3 w-full mt-10 flex flex-col h-full justify-start"
                >
                    <div
                        class="font-bold ml-10 text-2xl tex-regular-color w-3/5"
                    >
                        Recarga tu saldo sin estrés
                        <div
                            class="border-4 border-b border-secondary w-1/2 rounded-lg mt-3"
                        ></div>
                    </div>

                    <div
                        class="w-full flex justify-end text-regular-color text-lg md:text-xl mt-10"
                    >
                        <div class="w-11/12 text-right mr-3">
                            A cualquier hora, en cualquier lugar y de manera
                            segura
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="
                    max-width: 360px;
                    height: 260px;
                    box-shadow: 0px 3px 15px #c8c8e34d;
                "
                class="bg-card rounded-lg skew-y-3 mt-8 md:mt-0"
            >
                <div
                    class="-skew-y-3 w-full mt-10 flex flex-col h-full justify-start"
                >
                    <div
                        class="font-bold ml-10 text-2xl tex-regular-color w-1/2"
                    >
                        Genera más ingresos
                        <div
                            class="border-4 border-b border-secondary w-1/2 rounded-lg mt-3"
                        ></div>
                    </div>

                    <div
                        class="w-full flex justify-end text-regular-color text-lg md:text-xl mt-10"
                    >
                        <div class="w-3/4 mr-3">
                            Vende recargas y pagos de servicios desde nuestra
                            app, web o POS
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="
                    max-width: 360px;
                    height: 260px;
                    box-shadow: 0px 3px 15px #c8c8e34d;
                "
                class="bg-card rounded-lg -skew-y-3 mt-8 md:mt-0"
            >
                <div
                    class="skew-y-3 w-full mt-10 flex flex-col h-full justify-start"
                >
                    <div
                        class="font-bold ml-10 text-2xl tex-regular-color w-1/2"
                    >
                        Controla tus movimientos
                        <div
                            class="border-4 border-b border-secondary w-1/2 rounded-lg mt-3"
                        ></div>
                    </div>

                    <div
                        class="w-full flex justify-end text-regular-color text-lg md:text-xl mt-10"
                    >
                        <div class="w-3/4 mr-3">
                            Mira en tiempo real el detalle de tus operaciones
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style></style>
