<div class="flex justify-end mb-4">
    <span
        class="cursor-pointer h-8 p-1 rounded-full bg-gray-200"
        (click)="onClose()"
    >
        <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
    </span>
</div>
<!-- Error message -->
<div *ngIf="data.type === 'error'">
    <div class="flex items-center justify-center">
        <img class="w-auto" src="assets/images/draw/img_error.jpg" />
    </div>
    <div class="text-center font-extrabold text-2xl my-2">
        Ha ocurrido un problema
    </div>
    <div
        class="text-center"
        [innerHtml]="
            data.message ||
            'La operación no ha podido completarse por un problema de sistema'
        "
    ></div>
    <div class="flex justify-center items-center my-4 sm:my-6">
        <button mat-flat-button [color]="'primary'" (click)="onClose()">
            Entendido
        </button>
    </div>
    <!-- <div
        class="grid grid-cols-1 justify-center gap-2 sm:flex sm:justify-between sm:gap-0 items-center mt-8"
    >
        <button mat-flat-button [color]="'primary'" (click)="onClose()">
            Entendido
        </button>

        <button mat-flat-button [color]="'primary'" (click)="tryAgain()">
            Intentar de nuevo
        </button>
    </div> -->
</div>
<!-- Success operation message -->
<div *ngIf="data.type === 'success'">
    <div class="flex items-center justify-center">
        <img class="w-auto" src="assets/images/draw/icon_payment_success.png" />
    </div>
    <div class="text-center font-extrabold text-2xl my-2">
        Operación exitosa
    </div>
    <div
        class="text-center"
        [innerHtml]="
            data.message ||
            'Recuerda que puedes aumentar el saldo de tu cuenta en cualquier momento'
        "
    ></div>
    <div class="flex justify-center items-center my-4 sm:my-6">
        <button mat-flat-button [color]="'primary'" (click)="onClose()">
            Entendido
        </button>
    </div>
    <div
        class="flex justify-center text-center text-gray-400"
        *ngIf="data.showBalance"
    >
        <span>
            El saldo actual de tu negocio es de&nbsp;
            <strong>S/ {{ data.info.balance | number: "1.2-2" }}</strong>
        </span>
    </div>
</div>
<!-- Not enough balance message -->
<div *ngIf="data.type === 'not-enough-balance'">
    <div class="flex items-center justify-center">
        <img class="w-auto" src="assets/images/draw/img_error.jpg" />
    </div>
    <div class="text-center font-extrabold text-2xl my-2">
        No cuentas con saldo suficiente
    </div>
    <div class="text-center">
        {{
            data.message ||
                "Recuerda que puedes modificar el importe de la operación"
        }}
    </div>
    <div class="flex justify-center items-center my-4 sm:my-6">
        <button mat-flat-button [color]="'primary'">Modifica el importe</button>
    </div>
    <div class="flex justify-center text-center text-primary">
        <span class="font-semibold underline cursor-pointer">
            Aumentar el saldo de mi negocio
        </span>
    </div>
</div>
<!-- Payment confirmation -->
<div *ngIf="data.type === 'payment-confirmation'">
    <div class="text-center">Estás realizando un pago de</div>
    <div class="text-center font-extrabold text-2xl my-2">
        S/ {{ data.info.amount | number: "1.2-2" }}
    </div>
    <div
        class="grid grid-cols-1 justify-center gap-2 sm:flex sm:justify-between sm:gap-0 items-center my-4 sm:my-6"
    >
        <span
            class="order-last sm:order-first font-semibold underline cursor-pointer text-primary text-center"
        >
            Cancelar pago
        </span>
        <button
            class="order-first sm:order-last"
            mat-flat-button
            [color]="'primary'"
        >
            Confirmar
        </button>
    </div>
</div>
<!-- Business code -->
<div *ngIf="data.type === 'business-code'">
    <div class="text-center font-extrabold text-2xl my-3">
        Para conocer tu código de comercio
    </div>
    <div class="text-center mb-3">Comunícate con nuestro call center</div>
    <div class="flex justify-center text-center mb-3">
        <div class="flex items-center font-semibold underline text-primary text-center">
            <mat-icon class="text-primary" svgIcon="heroicons_outline:phone"></mat-icon>
            <span class="ml-1">{{ data.info }}</span>
        </div>
    </div>
</div>
