<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="print:hidden"
    style="background-color: #7c66f7"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall"
>
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex items-center h-20 p-6 pb-0">
            <!-- Light version -->
            <img
                class="ml-5"
                style="
                    filter: brightness(0) invert(1);
                    height: 30px;
                    width: 33px;
                "
                src="assets/images/logo/mediopago_logo.png"
                alt="Logo image"
            />
            <h1 class="text-2xl text-white font-semibold ml-5 mt-2">
                Megapunto
            </h1>
        </div>
    </ng-container>

    <ng-container fuseVerticalNavigationFooter>
        <div class="flex items-center h-20 p-3 pb-0 mb-20">
            <button mat-button>
                <!-- Icon -->
                <mat-icon
                    class="text-white mr-3"
                    svgIcon="heroicons_outline:logout"
                ></mat-icon>

                <!-- Title & Subtitle -->
                <span class="text-white">
                    <span> Cerrar Sesión </span>
                </span>
            </button>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
    <!-- Content -->
    <div
        class="flex flex-col flex-auto -ml-5"
        [ngStyle]="{ 'z-index': isScreenSmall ? 1 : 300 }"
    >
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>
</div>
