<div class="w-full flex flex-col">
    <mat-stepper linear #stepper>
        <mat-step>
            <div class="mb-4">
                <h1 class="text-xl font-semibold">Detalles de Grupos</h1>
                <p>Seleccione el detalle del producto a facturar</p>
            </div>

            <button
                *ngFor="let detail of digitalProductDetails$ | async"
                (click)="toggleDigitalDetails(detail)"
                [ngClass]="{
                    'bg-primary text-white': detailActive === detail,
                    'bg-white text-[#130B32] hover:bg-primary hover:text-white':
                        detailActive !== detail
                }"
                class="block w-full h-10 py-2 px-4 mb-3 rounded-xl border-primary border-2 flex justify-center items-center"
            >
                {{ detail.vc_desc_producto }}
            </button>

            <mat-error *ngIf="!detailActive && nextClicked">
                Seleccione un detalle
            </mat-error>
        </mat-step>
        <mat-step>
            <div *ngIf="detailActive" class="text-xl font-semibold">
                {{ detailActive.vc_desc_producto }}
            </div>

            <div class="flex justify-between items-center">
                <div class="w-1/2">
                    <img [src]="data.digitalProduct.vc_url_imagen" alt="" />
                </div>
                <div
                    *ngIf="detailActive"
                    class="w-1/2 flex flex-col justify-center p-5 ml-5"
                >
                    <div class="flex justify-between items-center">
                        <div class="font-semibold">Importe:</div>
                        <div class="text-primary">
                            S/ {{ detailActive.nu_precio }}
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="font-semibold"># Gratuitos:</div>
                        <div class="text-primary">0</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col items-center my-3">
                <div class="font-semibold uppercase tracking-wide w-full">
                    Registrar los datos del cliente
                    <div class="w-1/6 border-[#7c66f7] border-b-2 my-1"></div>
                </div>
            </div>
            <form [formGroup]="buyerInformationForm">
                <div class="w-full mt-2">
                    <mat-form-field class="w-full" appereance="fill">
                        <input
                            [disabled]="disable"
                            matInput
                            placeholder="Correo"
                            formControlName="email"
                        />
                        <!-- <mat-error *ngIf="InvalidEmail">
                            Ingrese un correo válido
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="w-full">
                    <mat-form-field class="w-full" appereance="fill">
                        <input
                            [disabled]="disable"
                            matInput
                            placeholder="Celular"
                            formControlName="cellphone"
                        />
                        <!-- <mat-error *ngIf="InvalidCellphone">
                            Ingrese un número de celular válido
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
    <div class="flex justify-center mt-4 sm:mt-8">
        <button
            [disabled]="disable"
            class="text-red-500 font-bold border-2 border-red-500 px-6 py-1 rounded-xl hover:text-white hover:bg-red-500"
            (click)="close()"
        >
            Cancelar
        </button>
        <button
            *ngIf="stepper.selectedIndex === 0"
            class="ml-3 text-[#7c66f7] font-bold border-2 border-[#7c66f7] px-6 py-1 rounded-xl hover:text-white hover:bg-[#7c66f7]"
            (click)="nextStep(stepper)"
        >
            Siguiente
        </button>
        <button
            [disabled]="disable"
            *ngIf="stepper.selectedIndex === 1"
            class="ml-3 text-[#7c66f7] font-bold border-2 border-[#7c66f7] px-6 py-1 rounded-xl hover:text-white hover:bg-[#7c66f7]"
            (click)="sellDigitalProduct()"
        >
            Vender
        </button>
    </div>
</div>
