<div class="bg-card flex items-center justify-center sm:bg-primary p-0 sm:py-18 sm:px-9 md:px-36 md:py-20 flex-auto w-full">
    <div class="rounded-2xl bg-card items-center md:items-start sm:justify-center md:justify-start p-4 md:p-14 lg:p-20 w-2/3">
        <div class="grid grid-cols-1 w-full sm:w-auto">
            <div class="block">
                <!-- Logo -->
                <div class="flex items-center justify-between">
                    <a class="flex items-center text-primary cursor-pointer">
                        <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
                        Ir a inicio de sesión
                    </a>
                    <div class="flex items-center">
                        <img class="w-12" src="assets/images/logo/mipmap-xhdpi/ic_launcher.png">
                        <span class="ml-1.5 hidden sm:inline-block font-bold text-xl tracking-wide">megapunto</span>
                    </div>
                </div>
            </div>

            <div class="max-w-100 sm:w-60 md:w-90 mx-auto md:items-center justify-center">
                <!-- Title -->
                <div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">
                    Actualizar contraseña
                </div>

                <!-- Subtitle -->
                <!-- <div class="mt-8 text-lg">
                    Te enviaremos un SMS a tu número de celular para que puedas actualizar tu contraseña
                </div> -->

                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <form
                    class="mt-8"
                    [formGroup]="updatePasswordForm">

                    <!-- Cellphone field -->
                    <mat-form-field class="w-full">
                        <input
                            id="cellphone"
                            matInput
                            placeholder="Número de celular"
                            [formControlName]="'vc_nro_dispositivo'">
                        <mat-error *ngIf="updatePasswordForm.get('vc_nro_dispositivo').hasError('required')">
                            Ingrese número de celular
                        </mat-error>
                        <mat-error *ngIf="updatePasswordForm.get('vc_nro_dispositivo').hasError('minlength')">
                            Ingrese un número de celular válido
                        </mat-error>
                        <mat-error *ngIf="updatePasswordForm.get('vc_nro_dispositivo').hasError('maxlength')">
                            Ingrese un número de celular válido
                        </mat-error>
                    </mat-form-field>

                    <!-- Current password field -->
                    <mat-form-field class="w-full">
                        <input
                            id="currentPassword"
                            matInput
                            placeholder="Contraseña actual"
                            [formControlName]="'vc_contrasena_anterior'">
                        <mat-error *ngIf="updatePasswordForm.get('vc_contrasena_anterior').hasError('required')">
                            Ingrese la contraseña actual
                        </mat-error>
                    </mat-form-field>

                    <!-- New password field -->
                    <mat-form-field class="w-full">
                        <input
                            type="password"
                            id="newPassword"
                            matInput
                            placeholder="Contraseña nueva"
                            [formControlName]="'vc_contrasena_nueva'">
                        <mat-error *ngIf="updatePasswordForm.get('vc_contrasena_nueva').hasError('required')">
                            Ingrese la contraseña nueva
                        </mat-error>
                    </mat-form-field>

                    <!-- New password field -->
                    <mat-form-field class="w-full">
                        <input
                            type="password"
                            id="passwordConfirm"
                            matInput
                            placeholder="Confirmación de contraseña nueva"
                            [formControlName]="'passwordConfirm'">
                        <mat-error *ngIf="updatePasswordForm.get('passwordConfirm').hasError('required')">
                            Ingrese la confirmación de la contraseña nueva
                        </mat-error>
                        <mat-error *ngIf="updatePasswordForm.get('passwordConfirm').hasError('mustMatch')">
                            La contraseña y la confirmación no coinciden
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="resetPassword()"
                        [disabled]="updatePasswordForm.disabled">
                        <span *ngIf="!updatePasswordForm.disabled">
                            Enviar
                        </span>
                        <mat-progress-spinner
                            *ngIf="updatePasswordForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>