<div
    class="bg-card flex items-center justify-center sm:bg-primary p-0 sm:py-18 sm:px-9 md:px-36 md:py-20 flex-auto w-full"
>
    <div
        class="rounded-2xl bg-card items-center md:items-start sm:justify-center md:justify-start p-4 md:p-14 lg:p-20 w-2/3"
    >
        <div class="grid grid-cols-1 w-full sm:w-auto">
            <div class="block">
                <!-- Logo -->
                <div class="flex items-center justify-between">
                    <a class="flex items-center text-primary cursor-pointer">
                        <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
                        Ir a inicio de sesión
                    </a>
                    <div class="flex items-center">
                        <img class="w-12" src="assets/images/logo/mipmap-xhdpi/ic_launcher.png">
                        <span class="ml-1.5 hidden sm:inline-block font-bold text-xl tracking-wide">megapunto</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div class="mt-0.5 font-medium">
                Actualiza la contraseña de tu cuenta
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Reset password form -->
            <form
                class="mt-8"
                [formGroup]="updatePasswordForm"
                #resetPasswordNgForm="ngForm"
            >
                <mat-form-field class="w-full">
                    <mat-label>Número Asociado</mat-label>
                    <input
                        id="vc_nro_dispositivo"
                        matInput
                        type="password"
                        [formControlName]="'vc_nro_dispositivo'"
                        NumberOnly
                        [maxLength]="9"
                    />
                    <mat-error
                        *ngIf="
                            updatePasswordForm
                                .get('vc_nro_dispositivo')
                                .hasError('required')
                        "
                    >
                        Ingrese el número asociado
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Contraseña actual</mat-label>
                    <input
                        id="vc_contrasena_anterior"
                        matInput
                        type="password"
                        [formControlName]="'vc_contrasena_anterior'"
                        #oldPasswordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            oldPasswordField.type === 'password'
                                ? (oldPasswordField.type = 'text')
                                : (oldPasswordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="oldPasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="oldPasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            updatePasswordForm
                                .get('vc_contrasena_anterior')
                                .hasError('required')
                        "
                    >
                        La nueva contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input
                        id="vc_contrasena_nueva"
                        matInput
                        type="password"
                        [formControlName]="'vc_contrasena_nueva'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            updatePasswordForm
                                .get('vc_contrasena_nueva')
                                .hasError('required')
                        "
                    >
                        La nueva contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="w-full">
                    <mat-label>Nueva contraseña (confirmación)</mat-label>
                    <input
                        id="password-confirm"
                        matInput
                        type="password"
                        [formControlName]="'passwordConfirm'"
                        #passwordConfirmField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordConfirmField.type === 'password'
                                ? (passwordConfirmField.type = 'text')
                                : (passwordConfirmField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            updatePasswordForm
                                .get('passwordConfirm')
                                .hasError('required')
                        "
                    >
                        La confirmación de la contraseña es requerida
                    </mat-error>
                    <mat-error
                        *ngIf="
                            updatePasswordForm
                                .get('passwordConfirm')
                                .hasError('mustMatch')
                        "
                    >
                        La contraseña debe coincidir
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="updatePasswordForm.disabled"
                    (click)="resetPassword()"
                >
                    <span *ngIf="!updatePasswordForm.disabled">
                        Actualiza tu contraseña
                    </span>
                    <mat-progress-spinner
                        *ngIf="updatePasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
