.test {
    background:
        //radial-gradient(circle at 100%, #fcfbff, #7C66F7 98%); 
        linear-gradient(178deg, #7C66F7 10%, #fcfbff 0) top left,
        linear-gradient(2deg, #7C66F7 10%, #fcfbff 0) bottom left;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}