<div
    class="bg-card sm:bg-primary p-0 sm:py-18 sm:px-9 md:px-36 md:py-20 flex-auto min-w-0"
>
    <div
        class="rounded-2xl bg-card rounded-l-2xl grid grid-cols-1 md:grid-cols-2 items-center md:items-start sm:justify-center md:justify-start px-14 pt-16 pb-16 lg:px-28"
    >
        <div class="hidden md:flex items-center justify-center overflow-hidden">
            <div class="z-10 relative w-full max-w-2xl">
                <div class="flex items-center justify-center">
                    <img
                        class="h-96 w-60"
                        src="assets/images/draw/pos_icon.png"
                    />
                </div>
                <div class="text-center">
                    <span class="font-bold my-2 block text-lg"
                        >Realiza recargas y pagos</span
                    >
                    <span class="block"
                        >Podrás recargar el saldo telefónico y pagar
                        servicios</span
                    >
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 w-full sm:w-auto">
            <div class="block">
                <!-- Logo -->
                <div class="flex items-center justify-end">
                    <img
                        style="width: 32px; height: 33px"
                        src="assets/images/logo/mediopago_logo.png"
                    />
                    <span
                        class="ml-1.5 hidden sm:inline-block font-bold text-xl tracking-wide"
                        >megapunto</span
                    >
                </div>
            </div>
            <div
                class="max-w-80 sm:w-80 mx-auto md:items-center justify-center"
            >
                <!-- Title -->
                <div
                    class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
                >
                    Bienvenido(a)
                </div>
                <div class="flex items-baseline mt-0.5 font-medium text-xl">
                    <div>a Megapunto</div>
                </div>
                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>

                <!-- Sign in form -->
                <form
                    class="mt-8"
                    [formGroup]="signInForm"
                    #signInNgForm="ngForm"
                >
                    <!-- Cellphone field -->
                    <mat-form-field class="w-full">
                        <input
                            id="username"
                            matInput
                            placeholder="Número de celular"
                            [formControlName]="'username'"
                        />
                        <mat-error
                            *ngIf="
                                signInForm.get('username').hasError('required')
                            "
                        >
                            Ingrese número de celular
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <input
                            id="password"
                            matInput
                            type="password"
                            placeholder="Contraseña"
                            [formControlName]="'password'"
                            #passwordField
                        />
                        <button
                            mat-icon-button
                            type="button"
                            (click)="
                                passwordField.type === 'password'
                                    ? (passwordField.type = 'text')
                                    : (passwordField.type = 'password')
                            "
                            matSuffix
                        >
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"
                            ></mat-icon>
                        </button>
                        <mat-error> Ingrese su contraseña </mat-error>
                    </mat-form-field>

                    <div [hidden]="captcha">
                        <re-captcha
                            (resolved)="resolved($event)"
                            siteKey="6LeIg3MgAAAAAHf-gLt_J0WR049xIUJJBNXwQnrC
                        "
                        ></re-captcha>
                        <mat-error>Verificacion requerida</mat-error>
                    </div>
                    <div [hidden]="!captcha"></div>

                    <!-- Actions -->
                    <div
                        class="inline-flex items-end justify-center w-full mt-1.5"
                    >
                        <a
                            class="text-md font-medium text-primary-500 underline text-primary"
                            [routerLink]="['/forgot-password']"
                            >Olvidé mi contraseña
                        </a>
                    </div>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signInForm.disabled"
                        (click)="signIn()"
                    >
                        <span *ngIf="!signInForm.disabled"> Ingresar </span>
                        <mat-progress-spinner
                            *ngIf="signInForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>

                    <div
                        class="flex items-center justify-center mt-4 font-medium"
                    >
                        <div>¿Aún no tienes una cuenta?</div>
                        <a
                            class="ml-1 text-primary hover:underline"
                            [routerLink]="['/sign-up']"
                            >Afíliate aquí
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
