<div class="flex flex-col flex-auto w-full" style="background-color: #7c66f7">
    <div
        class="flex-col flex-auto bg-card relative p-3 sm:p-5 md:p-10"
        style="
            border-top-left-radius: 3rem !important;
            border-bottom-left-radius: 3rem !important;
        "
    >
        <div class="p-5 md:p-0">
            <!-- Navigation toggle button -->
            <button
                class="absolute md:hidden top-8 left-8"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
            <div class="ml-10 sm:-mt-1.5 md:ml-0 md:mt-0 text-3xl font-bold">
                Inicio
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4">
                <!-- Greetings -->
                <div class="min-h-40 order-1">
                    <div class="border-2 rounded-lg p-2.5 sm:p-5">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                            <div>
                                <div class="mb-8">
                                    <span class="block text-2xl font-semibold">
                                        Buenos días,
                                        {{
                                            (commerceInfo$ | async)
                                                ?.vc_nombre_contacto | titlecase
                                        }}
                                    </span>
                                    <span class="text-base">
                                        Comercio
                                        {{
                                            (commerceInfo$ | async)
                                                ?.vc_nombre_comercio | titlecase
                                        }}
                                    </span>
                                </div>
                                <div class="mb-4">
                                    <span class="block font-semibold uppercase"
                                        >Saldo actual</span
                                    >
                                    <span class="text-2xl font-semibold"
                                        >S/{{ balance | number: "" }}</span
                                    >
                                </div>
                                <a
                                    routerLink="/dashboards/balance"
                                    class="flex items-center text-[#7c66f7]"
                                >
                                    <span class="font-semibold"
                                        >Aumentar saldo</span
                                    >
                                    <mat-icon
                                        class="text-[#7c66f7]"
                                        svgIcon="heroicons_outline:chevron-right"
                                    ></mat-icon>
                                </a>
                            </div>
                            <div class="hidden sm:flex">
                                <img
                                    src="assets/images/draw/home_image.png"
                                    style="width: 297px; height: 205px"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Notifications, general info and history -->
                <div
                    class="min-h-40 row-span-3 order-last md:order-2 invisible"
                >
                    <!-- Notification -->
                    <div class="flex justify-between items-center">
                        <span class="text-lg font-bold">Notificación</span>
                        <span class="text-[#7c66f7] font-bold cursor-pointer">
                            Ver todas
                        </span>
                    </div>
                    <div
                        class="flex flex-row bg-[#7c66f7] my-4 px-4 py-5 rounded-xl"
                    >
                        <div class="mr-2">
                            <mat-icon
                                class="text-white"
                                svgIcon="heroicons_solid:exclamation-circle"
                            ></mat-icon>
                        </div>
                        <div class="text-white">
                            <span class="block font-semibold text-lg mb-1.5">
                                Gana 30% de las comisiones
                            </span>
                            <span class="block mb-1">
                                Realizando 30% de las transacciones semanales
                            </span>
                            <span class="block">
                                Válido hasta el 30 de marzo de 2021
                            </span>
                        </div>
                    </div>
                    <!-- General information -->
                    <div class="flex justify-between items-center">
                        <span class="text-lg font-bold"
                            >Información general</span
                        >
                    </div>
                    <div class="border-2 rounded-xl my-4 px-4 py-5">
                        <div class="grid grid-cols-4 gap-2">
                            <div class="flex items-center justify-center">
                                <div
                                    class="text-center px-2 py-1 border-2 cursor-pointer"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:inbox"
                                    ></mat-icon>
                                    <span class="block text-sm font-semibold"
                                        >Icono</span
                                    >
                                </div>
                            </div>
                            <div class="flex items-center justify-center">
                                <div
                                    class="text-center px-2 py-1 border-2 cursor-pointer"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:inbox"
                                    ></mat-icon>
                                    <span class="block text-sm font-semibold"
                                        >Icono</span
                                    >
                                </div>
                            </div>
                            <div class="flex items-center justify-center">
                                <div
                                    class="text-center px-2 py-1 border-2 cursor-pointer"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:inbox"
                                    ></mat-icon>
                                    <span class="block text-sm font-semibold"
                                        >Icono</span
                                    >
                                </div>
                            </div>
                            <div class="flex items-center justify-center">
                                <div
                                    class="text-center px-2 py-1 border-2 cursor-pointer"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:inbox"
                                    ></mat-icon>
                                    <span class="block text-sm font-semibold"
                                        >Icono</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- History -->
                    <div class="flex justify-between items-center mb-4">
                        <span class="text-lg font-bold">Historial</span>
                    </div>
                    <div class="border-2 rounded-xl px-3 py-4">
                        <div *ngIf="deposits$; else noDeposits">
                            <div
                                *ngFor="let deposit of deposits$ | async"
                                class="my-4"
                            >
                                <div class="flex justify-between mb-1.5">
                                    <div class="text-[#7c66f7]">
                                        <span class="font-semibold">
                                            Operación:
                                        </span>
                                        <span class="ml-1">
                                            {{ deposit?.vc_nro_operacion }}
                                        </span>
                                    </div>
                                    <span class="text-sm">
                                        {{
                                            deposit?.dt_fec_operacion
                                                | date: "dd/MM/yyyy"
                                        }}</span
                                    >
                                </div>
                                <div class="block mb-4">
                                    <span class="mr-1">Monto:</span>
                                    <span class="font-semibold">
                                        S/
                                        {{
                                            deposit?.nu_importe
                                                | number: "1.2-2"
                                        }}
                                    </span>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                        <ng-template #noDeposits>
                            <div class="font-semibold text-lg">
                                No hay operaciones recientes
                            </div>
                        </ng-template>
                    </div>
                </div>
                <!-- Operations -->
                <div class="min-h-40 order-3 row-span-2">
                    <div class="flex items-center mb-4">
                        <span class="text-lg font-bold">Operaciones</span>
                    </div>
                    <div class="border-2 rounded-lg p-2.5 sm:p-5">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                            <div class="mx-auto">
                                <button
                                    (click)="toggleOperation('charges')"
                                    [ngClass]="{
                                        'bg-[#41ac9a] text-white':
                                            operationActive === 'charges',
                                        'bg-white text-[#41ac9a] hover:bg-[#41ac9a] hover:text-white':
                                            operationActive !== 'charges'
                                    }"
                                    class="block py-2 px-4 w-full rounded-xl border-[#41ac9a] border-2 mb-4"
                                >
                                    <span class="text-lg font-semibold"
                                        >Hacer recargas</span
                                    >
                                </button>
                                <button
                                    (click)="toggleOperation('services')"
                                    [ngClass]="{
                                        'bg-[#41ac9a] text-white':
                                            operationActive === 'services',
                                        'bg-white text-[#41ac9a] hover:bg-[#41ac9a] hover:text-white':
                                            operationActive !== 'services'
                                    }"
                                    class="block w-full py-2 px-4 rounded-xl border-[#41ac9a] border-2"
                                >
                                    <span class="text-lg font-semibold"
                                        >Pagar servicios</span
                                    >
                                </button>
                                <button
                                    (click)="toggleOperation('digitalProducts')"
                                    [ngClass]="{
                                        'bg-[#41ac9a] text-white':
                                            operationActive ===
                                            'digitalProducts',
                                        'bg-white text-[#41ac9a] hover:bg-[#41ac9a] hover:text-white':
                                            operationActive !==
                                            'digitalProducts'
                                    }"
                                    class="block w-full py-2 mt-5 px-4 rounded-xl border-[#41ac9a] border-2"
                                >
                                    <span class="text-lg font-semibold"
                                        >Productos Digitales</span
                                    >
                                </button>
                            </div>
                            <div
                                *ngIf="operationActive === 'charges'"
                                [formGroup]="topUpCellphoneBalanceForm"
                            >
                                <span class="font-semibold"
                                    >Número de celular y operador</span
                                >
                                <mat-form-field
                                    class="my-2 w-full"
                                    appereance="fill"
                                >
                                    <input
                                        id="vc_numero_servicio"
                                        [formControlName]="'vc_numero_servicio'"
                                        matInput
                                        placeholder="Número de celular"
                                    />
                                    <mat-error
                                        *ngIf="vc_numero_servicioInvalid"
                                    >
                                        Ingrese un número de celular válido
                                    </mat-error>
                                </mat-form-field>
                                <mat-radio-group formControlName="product">
                                    <mat-radio-button
                                        color="primary"
                                        *ngFor="
                                            let product of products$ | async
                                        "
                                        class="block mb-2"
                                        [value]="product"
                                    >
                                        {{ product?.vc_desc_producto }}
                                    </mat-radio-button>
                                </mat-radio-group>
                                <mat-error *ngIf="productInvalid"
                                    >Seleccione un operador</mat-error
                                >
                                <div class="flex justify-end mt-4 sm:mt-8">
                                    <button
                                        (click)="nextStepOfHub()"
                                        class="text-[#7c66f7] font-bold border-2 border-[#7c66f7] px-6 py-1 rounded-xl hover:text-white hover:bg-[#7c66f7]"
                                    >
                                        Siguiente
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="operationActive === 'services'">
                                <form [formGroup]="selectServiceForm">
                                    <div class="mb-2 font-semibold">
                                        <span>Servicio a pagar</span>
                                    </div>
                                    <mat-form-field
                                        class="w-full"
                                        appereance="fill"
                                    >
                                        <mat-label
                                            >Rubro del servicio</mat-label
                                        >
                                        <mat-select
                                            formControlName="nu_id_rubro_servicio_app"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let serviceCategory of serviceCategories$
                                                        | async
                                                "
                                                [value]="
                                                    serviceCategory.nu_id_rubro_servicio_app
                                                "
                                            >
                                                {{
                                                    serviceCategory.vc_desc_rubro
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field
                                        class="w-full"
                                        appereance="fill"
                                    >
                                        <mat-label
                                            >Empresa del servicio a
                                            pagar</mat-label
                                        >
                                        <input
                                            [disabled]="
                                                nu_id_rubro_servicio_appForm.value ===
                                                null
                                            "
                                            formControlName="enterprise"
                                            type="text"
                                            placeholder="Seleccione La empresa"
                                            aria-label="Seleccione La empresa"
                                            matInput
                                            [matAutocomplete]="auto"
                                        />
                                        <mat-autocomplete
                                            [displayWith]="displayFn"
                                            #auto="matAutocomplete"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let enterpriseService of filteredEnterprisesService
                                                        | async
                                                "
                                                [value]="enterpriseService"
                                            >
                                                {{
                                                    enterpriseService.vc_desc_empresa
                                                }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>

                                <div class="flex justify-end mt-4 sm:mt-8">
                                    <button
                                        class="text-[#7c66f7] font-bold border-2 border-[#7c66f7] px-6 py-1 rounded-xl hover:text-white hover:bg-[#7c66f7]"
                                        (click)="nextStepPayServices()"
                                    >
                                        Siguiente
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="operationActive === 'digitalProducts'">
                                <button
                                    *ngFor="
                                        let digitalProduct of digitalProducts$
                                            | async
                                    "
                                    (click)="
                                        toggleDigitalProducts(digitalProduct)
                                    "
                                    [ngClass]="{
                                        'bg-primary text-white':
                                            digitalProductActive ===
                                            digitalProduct,
                                        'bg-white text-[#130B32] hover:bg-primary ':
                                            digitalProductActive !==
                                            digitalProduct
                                    }"
                                    class="block w-full max-h-16 h-16 sm:w-60 md:w-full py-2 px-4 mb-3 rounded-xl border-primary border-2 flex justify-center items-center"
                                >
                                    <!-- <span class="text-lg font-semibold"
                                        >{{digitalProduct.vc_desc_grupo}}</span
                                    > -->
                                    <img
                                        [ngClass]="{
                                            'hover-white-active':
                                                digitalProductActive ===
                                                digitalProduct
                                        }"
                                        class="h-15 w-full m-2 hover-white"
                                        style="object-fit: contain"
                                        [src]="digitalProduct.vc_url_imagen"
                                        alt=""
                                    />
                                </button>
                                <div class="flex justify-end mt-4 sm:mt-8">
                                    <button
                                        (click)="nextStepDigitalProduct()"
                                        class="text-[#7c66f7] font-bold border-2 border-[#7c66f7] px-6 py-1 rounded-xl hover:text-white hover:bg-[#7c66f7]"
                                    >
                                        Siguiente
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .hover-white:hover {
        filter: brightness(0) invert(1);
    }
    .hover-white-active {
        filter: brightness(0) invert(1);
    }
</style>
