<!-- Title -->
<div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">
    Agregar dirección del comercio
</div>
    
<!-- Alert -->
<fuse-alert
    class="mt-8 -mb-4"
    *ngIf="showAlert"
    [appearance]="'outline'"
    [showIcon]="false"
    [type]="alert.type"
    [@shake]="alert.type === 'error'">
    {{alert.message}}
</fuse-alert>

<form
    class="mt-8"
    [formGroup]="businessAddressForm">
    <div formGroupName="businessAddress">
        <div class="w-full mb-2">
            <span>Ubica tu dirección en el mapa con el pin</span>
        </div>
        <!-- Address field -->
        <mat-form-field class="w-full">
            <input
                id="address"
                matInput
                placeholder="Dirección"
                [formControlName]="'address'">
            <mat-error *ngIf="businessAddressForm.get('businessAddress').get('address').hasError('required')">
                Ingrese su dirección
            </mat-error>
        </mat-form-field>

        <div class="grid grid-cols-1 md:grid-cols-2">
            <!-- Document type field -->
            <mat-form-field class="md:mr-1">
                <input
                    id="village"
                    matInput
                    placeholder="Centro poblado"
                    [formControlName]="'village'">
                <mat-error *ngIf="businessAddressForm.get('businessAddress').get('village').hasError('required')">
                    Seleccione el centro poblado
                </mat-error>
            </mat-form-field>

            <!-- Document number field -->
            <mat-form-field class="md:ml-2">
                <input
                    id="region"
                    matInput
                    placeholder="Departamento"
                    [formControlName]="'region'">
                <mat-error *ngIf="businessAddressForm.get('businessAddress').get('region').hasError('required')">
                    Seleccione el departamento
                </mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2">
            <!-- Document type field -->
            <mat-form-field class="md:mr-1">
                <input
                    id="city"
                    matInput
                    placeholder="Provincia"
                    [formControlName]="'city'">
                <mat-error *ngIf="businessAddressForm.get('businessAddress').get('city').hasError('required')">
                    Seleccione la provincia
                </mat-error>
            </mat-form-field>

            <!-- Document number field -->
            <mat-form-field class="md:ml-2">
                <input
                    id="district"
                    matInput
                    placeholder="Distrito"
                    [formControlName]="'district'">
                <mat-error *ngIf="businessAddressForm.get('businessAddress').get('district').hasError('required')">
                    Seleccione el distrito
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inline-flex items-end justify-between w-full mt-1.5">
            <mat-checkbox
                [color]="'primary'"
                [formControlName]="'agreements'">
                <a class="underline">
                    Acepto los términos y condiciones
                </a>
            </mat-checkbox>
        </div>

        <div class="flex justify-between">
            <!-- Prev button -->
            <button
                class="fuse-mat-button-large w-full md:w-1/3 mt-6"
                mat-flat-button
                [color]="'secondary'"
                [disabled]="businessAddressForm.disabled"
                (click)="prevStep()">
                <span *ngIf="!businessAddressForm.disabled">
                    Anterior
                </span>
                <mat-progress-spinner
                    *ngIf="businessAddressForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
            <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-full md:w-1/3 mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="businessAddressForm.disabled"
                (click)="nextStep()">
                <span *ngIf="!businessAddressForm.disabled">
                    Afiliarme
                </span>
                <mat-progress-spinner
                    *ngIf="businessAddressForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </div>
</form>
