<!-- Title -->
<div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">
    Agregar dirección del comercio
</div>

<!-- Alert -->
<fuse-alert
    class="mt-8 -mb-4"
    *ngIf="showAlert"
    [appearance]="'outline'"
    [showIcon]="false"
    [type]="alert.type"
    [@shake]="alert.type === 'error'"
>
    {{ alert.message }}
</fuse-alert>

<form class="mt-8 w-full" [formGroup]="businessAddressForm">
    <div formGroupName="businessAddress" class="w-full flex flex-col justify-center">

        <div id="map" class="h-90 w-full" >

        </div>
        <div class="w-full my-3">
            <span>Ubica tu dirección en el mapa con el pin</span>
        </div>
        <!-- Address field -->
        <mat-form-field class="w-full">
            <input
                id="address"
                matInput
                placeholder="Dirección"
                [formControlName]="'address'"
            />
            <mat-error
                *ngIf="
                    businessAddressForm
                        .get('businessAddress')
                        .get('address')
                        .hasError('required')
                "
            >
                Ingrese su dirección
            </mat-error>
        </mat-form-field>

        <div class="grid grid-cols-1 md:grid-cols-2">
            <!-- Document type field -->
            <mat-form-field class="md:mr-1">
                <input
                    id="village"
                    matInput
                    placeholder="Centro poblado"
                    [formControlName]="'village'"
                />
                <mat-error
                    *ngIf="
                        businessAddressForm
                            .get('businessAddress')
                            .get('village')
                            .hasError('required')
                    "
                >
                    Seleccione el centro poblado
                </mat-error>
            </mat-form-field>

            <!-- Document number field -->
            <mat-form-field class="md:ml-2">
                <mat-select
                    id="region"
                    placeholder="Departamento"
                    [formControlName]="'region'"
                >
                    <mat-option
                        *ngFor="let region of regions$ | async"
                        [value]="region.nu_id_departamento"
                        >{{ region.vc_desc_departamento }}</mat-option
                    >
                </mat-select>
                <mat-error
                    *ngIf="
                        businessAddressForm
                            .get('businessAddress')
                            .get('region')
                            .hasError('required')
                    "
                >
                    Seleccione el departamento
                </mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2">
            <!-- Document type field -->
            <mat-form-field class="md:mr-1">
                <mat-select
                    id="city"
                    matInput
                    placeholder="Provincia"
                    [formControlName]="'city'"
                >
                    <mat-option
                        *ngFor="let city of cities$ | async"
                        [value]="city.nu_id_provincia"
                        >{{ city.vc_desc_provincia }}</mat-option
                    >
                </mat-select>

                <mat-error
                    *ngIf="
                        businessAddressForm
                            .get('businessAddress')
                            .get('city')
                            .hasError('required')
                    "
                >
                    Seleccione la provincia
                </mat-error>
            </mat-form-field>

            <!-- Document number field -->
            <mat-form-field class="md:ml-2">
                <mat-select
                    id="district"
                    matInput
                    placeholder="Distrito"
                    [formControlName]="'district'"
                >
                    <mat-option
                        *ngFor="let district of districts$ | async"
                        [value]="district.nu_id_distrito"
                        >{{ district.vc_desc_distrito }}</mat-option
                    >
                </mat-select>
                <mat-error
                    *ngIf="
                        businessAddressForm
                            .get('businessAddress')
                            .get('district')
                            .hasError('required')
                    "
                >
                    Seleccione el distrito
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inline-flex items-end justify-between w-full mt-1.5">
            <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
                <a class="underline"> Acepto los términos y condiciones </a>
            </mat-checkbox>
        </div>

        <div class="flex justify-between">
            <!-- Prev button -->
            <button
                class="fuse-mat-button-large w-full md:w-1/3 mt-6 border border-indigo-600 bg-gray-300 text-white"
                mat-flat-button
                [disabled]="businessAddressForm.disabled"
                (click)="prevStep()"
            >
                <span *ngIf="!businessAddressForm.disabled"> Anterior </span>
                <mat-progress-spinner
                    *ngIf="businessAddressForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"
                ></mat-progress-spinner>
            </button>
            <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-full md:w-1/3 mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="businessAddressForm.disabled"
                (click)="nextStep()"
            >
                <span *ngIf="!businessAddressForm.disabled"> Afiliarme </span>
                <mat-progress-spinner
                    *ngIf="businessAddressForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"
                ></mat-progress-spinner>
            </button>
        </div>
    </div>
</form>
