<div class="bg-card flex items-center justify-center sm:bg-primary p-0 sm:py-18 sm:px-9 md:px-36 md:py-20 flex-auto w-full">
    <div class="rounded-2xl bg-card items-center md:items-start sm:justify-center md:justify-start p-4 md:p-14 lg:p-20 w-2/3">
        <div class="grid grid-cols-1 w-full sm:w-auto">
            <div class="block">
                <!-- Logo -->
                <div class="flex items-center justify-between">
                    <a class="flex items-center text-primary cursor-pointer" (click)="signIn()">
                        <mat-icon svgIcon="heroicons_outline:chevron-left"></mat-icon>
                        Ir a inicio de sesión
                    </a>
                    <div class="flex items-center">
                        <img class="w-12" src="assets/images/logo/mipmap-xhdpi/ic_launcher.png">
                        <span class="ml-1.5 hidden sm:inline-block font-bold text-xl tracking-wide">megapunto</span>
                    </div>
                </div>
            </div>

            <div class="max-w-100 sm:w-60 md:w-90 mx-auto md:items-center justify-center">
                <!-- Title -->
                <div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">
                    Recuperar contraseña
                </div>

                <!-- Subtitle -->
                <div class="mt-8 text-lg">
                    Te enviaremos un SMS a tu número de celular para que puedas recuperar tu contraseña
                </div>

                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <form
                    class="mt-8"
                    [formGroup]="forgotPasswordForm">

                    <!-- Cellphone field -->
                    <mat-form-field class="w-full">
                        <input
                            id="cellphone"
                            matInput
                            placeholder="Número de celular"
                            [formControlName]="'cellphone'">
                        <mat-error *ngIf="forgotPasswordForm.get('cellphone').hasError('required')">
                            Ingrese número de celular
                        </mat-error>
                    </mat-form-field>

                    <!-- Business code field -->
                    <mat-form-field class="w-full">
                        <input
                            id="businessCode"
                            matInput
                            placeholder="Código de comercio"
                            [formControlName]="'businessCode'">
                        <mat-error *ngIf="forgotPasswordForm.get('businessCode').hasError('required')">
                            Ingrese el código de su comercio
                        </mat-error>
                    </mat-form-field>

                    <!-- No business code -->
                    <div (click)="noBusinessCode()" class="flex items-center mt-4 text-md text-primary font-semibold cursor-pointer">
                        <mat-icon svgIcon="heroicons_outline:question-mark-circle"></mat-icon>
                        <span class="ml-1 underline">¿No cuentas con el código de tu comercio?</span>
                    </div>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="forgotPasswordForm.disabled"
                        (click)="sendResetLink()">
                        <span *ngIf="!forgotPasswordForm.disabled">
                            Enviar
                        </span>
                        <mat-progress-spinner
                            *ngIf="forgotPasswordForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
