<div class="flex items-center bg-primary w-screen h-full">
    <div class="grid bg-white text-center mx-auto w-60 sm:w-100 rounded-xl p-4 sm:p-8">
        <img class="block mx-auto w-40" src="assets/images/draw/img_error.png">
        <div class="grid grid-cols-1 my-2">
            <span class="font-bold text-2xl">¡Oh no!</span>
            <span class="font-semibold my-2">No logramos encontrar lo que estás buscando</span>
            <button
                (click)="goToHome()"
                mat-flat-button
                class="bg-primary text-white mt-2">
                Volver al inicio
            </button>
        </div>
    </div>
</div>
